h1,
h3 {
    color: black;
    font-size: 37px;
}

h2 {

    font-size: 25px;
}

h4 {
    font-size: 25px;
}


p {
    font-size: 20px;
}

a {
    color: black;
}

.btn-purple {
    padding: 20px 30px;
    border-radius: 35px;
    font-size: 20px;
    background-color: $colour-primary;
    background: linear-gradient(0deg, rgba(147, 86, 220, 1) 8%, rgba(220, 86, 172, 1) 69%);
    color: white;
    border: none;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    &:hover {
        opacity: 0.95;
        box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.4);
        cursor: pointer;
    }
}


.icone-hover {
    font-weight: 900;
    color: $colour-primary;
    opacity: 0;
    right: 20px;
}

.icone-coeur {
    z-index: 1;
    position: absolute;
}

.coeur:hover .icone-hover{
    opacity: 1;
    transition: opacity 1.5s;
}

.coeur:hover .icone-coeur{
    opacity: 0;
    transition: opacity 1s;
}