.titre-header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}


.h1-menu {
    font-family: shrikhand;
    background-color: white;
}

.titre-header i {
    font-size: 30px;
    padding-top: 40px;
    position: absolute;
    left: 25px;
}

.titre-menu {
    display: flex;
    background-color: white;
    width: 100%;
    padding: 5px 20px;
    border-radius: 35px 35px 0 0;
    align-items: center;
    justify-content: space-between;
    margin-top: -80px;
    position: absolute;
}

.titre-menu h2 {
    font-family: shrikhand;
    font-size: 30px;
}

.titre-menu i {
    font-size: 25px;
}


#slider img {
    max-height: 315px;
    width: 100%;
    object-fit: cover;

}

.section-menu {
    margin: 0px 20px 60px 20px;
}

.section-menu h3 {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 100;
}

.section-menu h3::after {
    content: "";
    width: 50px;
    height: 3px;
    background-color: $colour-tertiary;
    display: block;
    margin-top: 10px;
}

.section-menu h4 {
    margin: 5px 0;
    font-size: 23px;
}


@mixin apparition-progressive {
    @for $i from 2 through 5 {
      &:nth-child(#{$i}) {
        transition: all 0.5s #{$i * 0.5}s ease-in;
      }
    }
}

.menu {
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin-bottom: 25px;
    display: flex;
    animation: anim-menu 2s;
    @include apparition-progressive;
}

@keyframes anim-menu {
    0% {
        opacity: 0;
        margin-top: 35px;
    }


    100% {
        opacity: 1;
        margin-top: 0;
    }
}

.description p,
.description h4 {
    overflow: hidden;
    text-overflow: ellipsis;
}

.intro {
    font-size: 18px;
    margin: 10px 0;
    font-weight: 200;
}

.prix {
    font-size: 18px;
    margin: 10px 0;
    font-weight: bold;
    width: 30px;
    padding-top: 35px;
    margin-right: 25px;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-direction: column;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: calc(100% - 30px);
    flex: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-left: 15px;
}


#commander {
    text-align: center;
    margin-bottom: 60px;
}